{% extends "base.njk" %}

{% block titulo %}Caballos | Ficha{% endblock %}

{% block contenido %}
    <body class= "">
        


    </body>
    <h1>Ficha de un contacto</h1>

    <p><strong>Nombre:</strong> {{ contacto.nombre }}</p>
    <p><strong>Edad:</strong> {{ contacto.edad }}</p>
    <p><strong>Teléfono:</strong> {{ contacto.telefono }}</p>

{% endblock %}
